.item-image-container{
    height: 250px;
    width: 215px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    overflow:hidden;
}
.item-tile{
    width:215px;
    height:fit-content;
}

#store-preview-image {
    
    height:100%;
    width: 100%;
    overflow: hidden;
    /* border-radius: 10px; */
    cursor: pointer;
}

.all-items{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    overflow-x:hidden;
    gap:40px;
    justify-content: center;
}

.item-link{
    text-decoration:none;
    color:black;
}

.item-details{
    display:flex;
    flex-direction: column;
    gap:5px;
}