.item-image-container{
    height: 250px;
    width: 215px;
    padding-bottom: 10px;
    position: relative;
    cursor: pointer;
    overflow:hidden;
}
.item-tile{
    width:215px;
    height:fit-content;
    cursor:pointer;
}
#sort-by-hover{
    cursor: pointer;
}

#store-preview-image {
    
    height:100%;
    width: 100%;
    overflow: hidden;
    /* border-radius: 10px; */
    cursor: pointer;
}

.all-items{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    overflow-x:hidden;
    gap:40px;
    justify-content: center;
}

.item-link{
    text-decoration:none;
    color:black;
}

.item-details{
    display:flex;
    flex-direction: column;
    gap:5px;
}

#sort-by{
   margin-right:auto;
   
}


.sort-by-cont{
    /* background-color: blue; */
    margin-left:auto;
    display:flex;
    justify-content: flex-end;
    padding-right: 2%;
    padding-bottom: 2%;

}

.sort-by{
    display:flex;
    gap: 5px;
}


.suggestions{
    position:absolute;
    z-index: 3;
    background-color: rgb(231, 231, 231);
    height: 5rem;
    overflow-y: scroll;
    width:80%;
}

#suggestions{
    cursor:pointer;
}
#suggestions:hover{
    color: blue
}

.search-cont{
    display:flex;
    width: 100%;
    /* align-items: center; */
    justify-content: center;
    flex-direction: row;
}


.searchBarVisual{
    /* width:20rem; */
    position:relative;
    flex-grow: 2;
    flex-shrink: 1;
    max-width: 30rem;
}
.searchBar{
    /* display:flex; */
    /* flex:1; */
    /* width: 100%; */
    /* max-width: 80%; */
    /* min-width: 30%; */
    width: 80%;
    height: 2rem;
    font-size:12pt;
}