.modalbu{
    max-width: fit-content;
    min-height:30px;
    color:white;
    background-color: black;
    border:none;
    box-sizing: border-box;
    font-size: 12pt;
    margin-top:auto;
    /* padding: 2%; */
    padding:10px;
}

.modalbu:hover{
    cursor: pointer;
}