
.flex{
    display:flex;
    flex-direction: row;
    font-size: 2rem;
}

.grid-cols-7{
    grid-template-columns: repeat(7, minmax(0, 1fr))
}
.grid{
    display:grid;
}
.gap-2{
    gap: 0.5rem;
}

.p-4{
    padding: 1rem;
}

.cursor-pointer{
    cursor: pointer;
}

.bg-blue-500{
    border: 1px solid black;
}

.text-center{
    text-align: center;
}

.past{
    color: lightgray;
}


.bg-green-500{
    color:white;
    background-color: black;
}

.text-white:hover{
    cursor:pointer;
}

.ticket-type{
    font-size: 15pt;
    font-weight: bold;
}

#tickets-form{
    display:flex;
    flex-direction: column;
    padding-left: 3rem;
    padding-top: 1rem;
    width: 50vw;
}

.ticket-row{
    display:flex;
    flex-direction: row;
    padding-bottom: .5rem;
    justify-content: space-between;
}

.ticket-left{
    display:flex;
    flex-direction: column;

}

.quantity-button{
    padding: .5rem;
    cursor: pointer;
}


.checkout-info{
    display:flex;
    flex-direction:column;
}


.ticket-checkout-modal{
    /* width: 30rem; */
    /* height: 30rem; */
    /* position: sticky; */
}

.ticket-purchase{
    display:flex;
    flex-direction: row;
}