.home-exhibitions-container{
    width:100vw;
}

.exposition-tile{
    width:100%;
    display:flex;
    background-color: red;
    height:fit-content;
}

.exposition-image-container {
    height: 400px;
    /* width: 900px; */
    flex:2;
    /* width: 65.5%; */
    /* padding-bottom: 10px; */
    position: relative;
    cursor: pointer;
    overflow:hidden;
}

#preview-image {
   
    height:auto;
    width: 100%;
    overflow: hidden;
    /* border-radius: 10px; */
    cursor: pointer;
}

.exposition-link{
    text-decoration: none;
    color:black;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:100%;
    /* background-color: red; */
}


.exposition-intro-container-one{
    height: 400px;
    /* width: 500px; */
    background-color: aquamarine;
    flex:1;
}

.exposition-intro-container-two{
    height: 400px;
    /* width: 500px; */
    background-color: rgb(151, 81, 216);
    flex:1;
}

.exposition-intro-container-three{
    height: 400px;
    /* width: 500px; */
    background-color: rgb(73, 198, 73);
    flex:1;
}
