.profile-dropdown {
  position: absolute;
}

.navbar { 
  height:14vh;
  box-sizing: border-box;
  padding-left: 7%;
  padding-right:7%;
  display:inline-flex;
  flex-direction: row;
  /* background-color: purple; */
  width:100%;

}
.navbar-links{
  
  /* background-color: red; */
  box-sizing: border-box;
  padding-top: 2%;
  margin-right:auto;
  display:inline-flex;
  align-items: center;
  flex:1;
  justify-content: space-between;
  height:fit-content;

}
.nav-links{
  text-decoration: none;
  color:black;
  font-size: 14pt;
 
}
.underline:hover{
  text-decoration: underline;
}

#musee{
  font-size: 45pt;
}

#tickets-button{
  /* background-color: yellow; */
  height: 40px;
  width: 100px;
  background-color: rgb(240, 213, 76);
  border:none;
  font-size: 14pt;
}

#tickets-button:hover{
  cursor:pointer;
}

#name-container{
  flex: 2;
  /* background-color: red; */
  display: flex;
  height: 130px;
  align-items: center;
  /* padding-top:20%; */
  /* position:absolute; */
  /* top:80px; */
}


.other-links{
  padding-left: 7%;
  box-sizing: border-box;
  list-style-type: none;
  display: inline-flex;
  gap:30px;
  padding-bottom: 2%;
}